<div class="backdrop backdrop--hidden">
  <div class="modal backdrop__modal team-modal-js">
    <include src="./partials/modals/close-button.html"></include>
    <div class="modal-content">
      <ul class="card-set team-wrapper">
        <li class="card-set__item team-card">
          <img src="./images/img_6.jpg" alt="Andrey" class="team-image" />
          <p class="team-name">Andrey Tryuhan</p>
          <p class="team-role">Team Lead</p>
        </li>
        <li class="card-set__item team-card">
          <img src="./images/Поліна.png" alt="Polina" class="team-image" />
          <p class="team-name">Polina Tsygankova</p>
          <p class="team-role">Scrum Master</p>
        </li>
        <li class="card-set__item team-card">
          <img src="./images/Anton.png" alt="Anton" class="team-image" />
          <p class="team-name">Anton Bukin</p>
          <p class="team-role">Developer</p>
        </li>
        <li class="card-set__item team-card">
          <img src="./images/Тімур.jpg" alt="Timur" class="team-image" />
          <p class="team-name">Timur Vdovichenko</p>
          <p class="team-role">Developer</p>
        </li>
        <li class="card-set__item team-card">
          <img src="./images/img_6.jpg" alt="xdevies" class="team-image" />
          <p class="team-name">Danil Pavlenko</p>
          <p class="team-role">Developer</p>
        </li>
        <li class="card-set__item team-card">
          <img src="./images/Антон.jpg" alt="Антон" class="team-image" />
          <p class="team-name">Anton Karpenko</p>
          <p class="team-role">Developer</p>
        </li>
        <li class="card-set__item team-card">
          <img src="./images/Akhmed.jpg" alt="Ramirez" class="team-image" />
          <p class="team-name">Akhmed Avais</p>
          <p class="team-role">Developer</p>
        </li>
        <li class="card-set__item team-card">
          <img src="./images/Віктор.jpg" alt="Віктор" class="team-image" />
          <p class="team-name">Viktor Soshenko</p>
          <p class="team-role">Developer</p>
        </li>
        <li class="card-set__item team-card">
          <img src="./images/Oleg.jpg" alt="Олег" class="team-image" />
          <p class="team-name">Oleh Novikov</p>
          <p class="team-role">Developer</p>
        </li>
        <li class="card-set__item team-card">
          <img src="./images/Олександр.jpg" alt="Олександр" class="team-image" />
          <p class="team-name">Oleksandr Tymchenko</p>
          <p class="team-role">Developer</p>
        </li>
        <li class="card-set__item team-card">
          <img src="./images/Alina.jpg" alt="Alina" class="team-image" />
          <p class="team-name">Alina Ryabova</p>
          <p class="team-role">Developer</p>
        </li>
      </ul>
    </div>
  </div>
</div>
