<div class="card card-set__item">
    <img
        class="card__image"
        loading="lazy"
        src="./images/card-image-desktop.jpg"
        alt=""
    />
    <div class="card__footer">
        <div class="card__descr">
            <class="card__name">name <br/>
             second name <br/>
            third name</p>
            <p class="card__details">
                <span>genre</span><span> | </span
                ><span>year</span>
            </p>
        </div>
        <div class="card__rate">
            <ul class="card__rate--list">
                <li class="card__rate--item">
                    <img
                        class="card__rate--img"
                        src="./images/star-full.svg"
                        alt="star"
                    />
                </li>
                <li class="card__rate--item">
                    <img
                        class="card__rate--img"
                        src="./images/star-full.svg"
                        alt="star"
                    />
                </li>
                <li class="card__rate--item">
                    <img
                        class="card__rate--img"
                        src="./images/star-full.svg"
                        alt="star"
                    />
                </li>
                <li class="card__rate--item">
                    <img
                        class="card__rate--img"
                        src="./images/star-half.svg"
                        alt="star"
                    />
                </li>
                <li class="card__rate--item">
                    <img
                        class="card__rate--img"
                        src="./images/star-empty.svg"
                        alt="star"
                    />
                </li>
            </ul>
        </div>
    </div>
</div>
