<section class="section catalog page__section--margin-pagination">
  <h2 class="visually-hidden">Catalog Trending Films</h2>
  <div class="container">
    <div class="card-set catalog__movi-catalog-list">
      <!-- Динамическое наполнение карточками -->
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
    </div>
    <!-- pagination -->
  </div>
</section>
