<footer class='footer'>
  <div class='container'>
    <div class='footer__wrapper'>
      <span class='footer__copyright'>&#169 2023 | All Rights Reserved |&nbsp;</span>
      <div class='footer__developers'>
        <span>Developed with</span>
        <span class='footer__icon'>
          <svg class='icon-heart'>
            <use href='./images/icons_new.svg#icon-heart'></use>
          </svg>
        </span>
        <span>by <span class='footer__modal-btn'>GoIT Students </span></span>
      </div>
    </div>
  </div>
</footer>
