<section class="hero page__section--margin-lg ero-library">
  <div class="container library-container hero__container">
    <div class="hero__info">
      <h1 class="hero__title">Create Your <br class="hero__title-br" />Dream Cinema<br /></h1>
      <p class="hero__text library-text">
        Is a guide to designing a personalized movie theater experience with the right equipment, customized decor, and
        favorite films. This guide helps you bring the cinema experience into your own home with cozy seating, dim
        lighting, and movie theater snacks.
      </p>
      <!-- <button type="button" class="heroy__button" data-modal-open>
                <a href="/src/catalog.html" class="hero__get-catalog">Get Started</a>

          </button> -->
    </div>
  </div>
</section>
