<section class="section library">
  <div class="container">
    <div class="card-set library__movi-card-list">
      <!-- Динамическое наполнение карточками -->
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
    </div>
    <!-- button -->
  </div>
</section>
