<section class="page__section page__section--margin-sm">
  <div class="container search-form-container">
    <h2 class="visually-hidden">Search form</h2>
    <form class="search-form">
      <input type="text" class="search-form__input" placeholder="Film" data-input />
      <select data-year>
        <option selected value="">Year</option>
        <option value="Option 2">2021</option>
        <option value="Option 2">2022</option>
        <option value="Option 2">2023</option>
      </select>
      <select data-genre>
        <option selected value="">Genre</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
      </select>
      <select data-country>
        <option selected value="">Country</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
      </select>
      <button type="submit" class="button button-search search-form__button">
        <svg width="20" height="20" class="button-search__search-icon">
          <use href="./images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</section>
