<section class="upcoming page__section--margin-md">
  <!-- <div class="container">
    <h2 class="upcoming__title">Upcoming this month</h2>
    <div class="upcoming__section-wrapper">
      <div class="upcoming__img-wrapper">
        <picture>
          <source
            srcset="
              https://image.tmdb.org/t/p/original/wgVkkjigF31r1nZV80uV0xNIoun.jpg 1x,
              https://image.tmdb.org/t/p/original/wgVkkjigF31r1nZV80uV0xNIoun.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              https://image.tmdb.org/t/p/original/wgVkkjigF31r1nZV80uV0xNIoun.jpg 1x,
              https://image.tmdb.org/t/p/original/wgVkkjigF31r1nZV80uV0xNIoun.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              https://image.tmdb.org/t/p/original/wgVkkjigF31r1nZV80uV0xNIoun.jpg 1x,
              https://image.tmdb.org/t/p/original/wgVkkjigF31r1nZV80uV0xNIoun.jpg 2x
            "
            media="(min-width: 320px)"
          />

          <img
            srcset="
              https://image.tmdb.org/t/p/original/wgVkkjigF31r1nZV80uV0xNIoun.jpg 1x,
              https://image.tmdb.org/t/p/original/wgVkkjigF31r1nZV80uV0xNIoun.jpg 2x
            "
            src="https://image.tmdb.org/t/p/original/wgVkkjigF31r1nZV80uV0xNIoun.jpg"
            class="upcoming__image"
            alt="Poster of film"
            width="805px"
          />
        </picture>
      </div>

      <div class="upcoming__inform-wrapper">
        <h3 class="upcoming__film-name">The lost sity</h3>

        <ul class="upcoming__list-info list">
          <li class="upcoming-item-wrapper">
            <div class="upcoming__item">
              <p class="upcoming__parameter upcoming__parameter--color">Release date</p>
              <p class="upcoming__value upcoming__value--orange">03.03.2023</p>
            </div>
            <div class="upcoming__item">
              <p class="upcoming__parameter upcoming__parameter--bckg">Vote / Votes</p>
              <p class="upcoming__value">
                <span class="upcoming__numbers--bckg">7.3</span> /
                <span class="upcoming__numbers--bckg">1260</span>
              </p>
            </div>
          </li>

          <li class="upcoming-item-wrapper">
            <div class="upcoming__item">
              <p class="upcoming__parameter upcoming__parameter--number">Popularity</p>
              <p class="upcoming__value">99.9</p>
            </div>
            <div class="upcoming__item">
              <p class="upcoming__parameter upcoming__parameter--genre">Genre</p>
              <p class="upcoming__value">Comedy, action</p>
            </div>
          </li>
        </ul>

        <h4 class="upcoming__about">About</h4>
        <p class="upcoming__dcr">
          Reclusive author Loretta Sage writes about exotic places in her popular adventure novels that feature a
          handsome cover model named Alan. While on tour promoting her new book with Alan, Loretta gets kidnapped by an
          eccentric billionaire who hopes she can lead him to an ancient city's lost treasure from her latest story.
          Determined to prove he can be a hero in real life and not just on the pages of her books, Alan sets off
          to rescue her.
        </p>
        <button type="button" class="button button-main button-main--height-desktop-40" id="remind-btn">
          <span>Remind me</span>
        </button>
      </div>
    </div>
  </div> -->
</section>
