<section class="weekly-trends page__section--margin-md">
  <div class="container">
    <div class="weekly-trends__header">
      <h2 class="weekly-trends__title">weekly trends</h2>
      <a class="weekly-trends__link" href="#">See all</a>
    </div>
    <div class="card-set weekly-trends__movi-list">
      <!-- Динамическое наполнение карточками -->
      <!-- <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include>
      <include src="./partials/card.html"></include> -->
    </div>
  </div>
</section>
