.modal-trailer-success {
    position: relative;
    margin: 0 auto;
    padding: 20;
    width: 280px;
    height: 289px;
    background-color: #111111;
    box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
    border-radius: 16px;
        @media screen and (min-width: $container-width-tablet) {
            width: 609px;
            height: 400px;
        }
        @media screen and (min-width: $container-width-desktop) {
            width: 700px;
            height: 400px;
        }
}
.trailer-video {
    border: 0;
    width: 85%;
    aspect-ratio: 1.77;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}